/* FONT FACE - font-display: fallback; */
@font-face {
    font-family: "pr";
    src: url(../fonts/ProximaNova-Bold.woff2) format(woff2),
         url(../fonts/ProximaNova-Bold.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}