//Slider
.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .slider__item-wrap {
    width: 100%;
    height: 100%;

    .slider__item {
      width: 100%;
      height: 100%;
      position: relative;
      display: none;

      &.active {
        display: block;
      }

      &-img {
        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
          font-size: var(--fztitle);
          text-transform: uppercase;
          color: $yellow-cl;
          font-family: Proxima Nova;
          letter-spacing: 20px;
          font-weight: bold;
          line-height: normal;
        }

        .btnmain {
          img {
            width: 26px;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .slider__bottom {
    position: absolute;
    width: 100%;
    bottom: 20px;

    img {
      width: 30px;
    }

    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .paging {
        display: flex;
        align-items: center;

        .number {
          font-size: 42px;
          font-weight: bold;
          color: $yellow-cl;
          line-height: normal;
          font-family: Proxima Nova;
          font-weight: bold;
          display: flex;
          align-items: center;
          letter-spacing: 1px;

          &::before {
            content: "";
            width: 43px;
            height: 4px;
            background-color: $yellow-cl;
            margin-right: 10px;
            display: inline-block;
          }
        }

        .dotted {
          ol {
            display: flex;
          }
        }

        // .dotted {
        //     ul {
        //         display: flex;
        //         flex-direction: row;

        //         li {
        //             width: 10px;
        //             height: 10px;
        //             background-color: $black-cl;
        //             opacity: 0.5;
        //             border-radius: 50%;
        //             margin: 0 10px;
        //             cursor: pointer;

        //             &:hover,
        //             &.is-selected {
        //                 opacity: 1;
        //                 @include transition($t);
        //                 background-color: $yellow-cl;
        //             }
        //         }

        //     }

        // }
      }

      .mouse {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);

        img {
          margin: 5px;
          @include animation(arrowdown 4s infinite);
        }
      }

      @include keyframes(arrowdown) {
        0%,
        20%,
        40%,
        60%,
        80%,
        100% {
          @include transform(translateY(0));
        }

        80% {
          @include transform(translateY(-30px));
        }
      }

      .control {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        &__pre {
          img {
            @include transition($t);
            @include transform(rotate(-180deg) translateX(0px));
          }

          width: max-content;
          border: 2px solid #fff;
          padding: 5px 30px;
          display: flex;
          align-items: center;

          &:hover {
            background: $yellow-cl;

            img {
              @include transition($t);
              @include transform(rotate(-180deg) translateX(5px));
            }
          }
        }

        &__next {
          width: max-content;
          border: 2px solid #fff;
          padding: 5px 30px;
          margin-left: -1px;
          display: flex;
          align-items: center;

          img {
            @include transition($t);
            @include transform(translateX(0px));
          }

          &:hover {
            background: $yellow-cl;
            @include transition($t);

            img {
              @include transition($t);
              @include transform(translateX(5px));
            }
          }
        }
      }
    }

    @include sm {
      .container-fluid {
        .mouse {
          display: none;
        }

        .control {
          display: none;
        }
      }
    }

    @include xs {
      .container-fluid {
        .mouse {
          display: none;
        }

        .control {
          display: none;
        }

        .paging {
          display: none;
        }
      }
    }
  }

  @include sm {
    --fztitle: 70px;

    .slider__item-wrap {
      .slider__item {
        .slider__item-text {
          .title {
            letter-spacing: 10px;
          }

          .btnmain {
            padding: 8px 25px;
            font-size: 14px;
            margin-top: 20px;

            img {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  @include xs {
    --fztitle: 60px;

    .slider__item-wrap {
      .slider__item {
        .slider__item-text {
          .title {
            letter-spacing: 10px;
          }

          .btnmain {
            padding: 8px 25px;
            font-size: 14px;
            margin-top: 20px;

            img {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  @include xxs {
    height: 60vh;
    --fztitle: 40px;

    .slider__item-wrap {
      .slider__item {
        .slider__item-text {
          .title {
            letter-spacing: 5px;
          }

          .btnmain {
            padding: 5px 12px;
            font-size: 11px;
            margin-top: 20px;

            img {
              margin-left: 10px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

//Product

.products {
  .container {
    .products__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      .text-box {
        .text {
          grid-template-columns: repeat(1fr, 1fr);

          .des {
            max-width: 295px;
            margin: 30px 0;
            font-family: Proxima Nova;

            @include xxs {
              margin: 15px 0;
            }
          }
        }
      }

      &:last-child {
        flex-direction: row-reverse;
        margin-top: 50px;

        .text {
          .des {
            max-width: 295px;
          }
        }
      }
    }
  }

  @include sm {
    .products__item {
      .text-box {
        padding: 0;
      }

      i {
        img {
          width: 320px;
        }
      }
    }
  }

  @include xs {
    .container {
      .products__item {
        flex-direction: column;

        i {
          img {
            width: 100%;
            margin-top: 20px;
          }
        }

        .text-box {
          width: 100%;

          .text {
            .des {
              max-width: 480px;
            }
          }
        }

        &:last-child {
          flex-direction: column;

          .text-box {
            .title {
              display: flex;
            }

            .text {
              .des {
                text-align: left;
              }
            }

            &.--right {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

//Wood is quality
.videos {
  padding: 0px 15px;
  margin-bottom: 90px;

  .container {
    height: 100%;

    .text-box {
      padding: 0;

      .title {
        font-size: 40px;
        font-family: Proxima Nova;
        font-weight: bold;
        text-transform: uppercase;
        color: $black-cl;
        position: relative;
        margin-bottom: 55px;
        letter-spacing: 0.7px;

        @include xxs {
          font-size: 27px;
        }

        &::after {
          content: "";
          height: 3px;
          width: 36px;
          background-color: $yellow-cl;
          position: absolute;
          top: 40px;
          left: 48%;
        }
      }

      .text {
        .des {
          letter-spacing: 0.25px;
          font-family: Proxima Nova;

          @include lg {
            padding: 0 25%;
          }

          @include sm {
            padding: 0;
          }
        }
      }
    }

    .video__item-wrap {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .video__item {
        margin-top: 66px;

        &-img {
          width: 200px;
          height: 200px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          border: 10px solid #fff;
          box-shadow: 1px 1px 2px 0px rgba(186, 186, 186, 1);
          box-sizing: content-box;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-height: 100%;
            min-width: 100%;
            @include transform(translate(-50%, -50%) scale(1));
            @include transition($t);
          }

          &:hover {
            img {
              @include transform(translate(-50%, -50%) scale(1.1));
              @include transition($t);
            }
          }
        }

        .play_button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          opacity: 0.7;
          z-index: 1;
          width: 57px;
          height: 57px;
          cursor: pointer;
        }

        &-caption {
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          margin-top: 40px;
          position: relative;
          font-size: $fz-text;
          line-height: normal;
          font-family: Proxima Nova;

          &::after {
            content: "";
            width: 20px;
            height: 2px;
            background-color: $yellow-cl;
            position: absolute;
            bottom: 35px;
            color: $text-black-cl;
          }
        }
      }
    }
  }

  @include sm {
    .video__item-wrap {
      .video__item {
        .video__item-img {
          width: 170px;
          height: 170px;
        }
      }
    }
  }

  @include xs {
    .video__item-wrap {
      flex-direction: column;
    }
  }
}

.popup-video {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: $overlay-bg-cl;
  justify-content: center;
  align-items: center;

  .iframe-wrap {
    background: $black-cl;
    border: 4px solid $white-cl;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 600px;
    height: 400px;

    @include xs {
      // overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;

      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    @include xxs {
      // overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;

      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }

  &.active {
    display: flex;
  }

  // .close {
  //     position: absolute;
  //     right: -25px;
  //     left: -25px;
  //     border-radius: 100px;
  //     cursor: pointer;
  //     font-size: 20px;
  //     width: 50px;
  //     height: 50px;
  //     background: white;
  //     font-weight: bold;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;

  // }
  .close {
    position: absolute;
    right: -35px;
    top: -35px;
    width: 32px;
    height: 32px;
    // opacity: 0.3;
    cursor: pointer;

    @include xs {
      right: -7px;
      top: -40px;
    }
  }

  .close:hover {
    opacity: 0.5;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: $white-cl;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}

//Design
.design {
  background-attachment: fixed;
  background-image: url(../img/extra_strip.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  padding: 180px 0;

  @include xxs {
    padding: 90px 0;
  }

  .container {
    .design__text {
      .title {
        max-width: 420px;
        text-align: left;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: normal;
        color: $yellow-cl;
        font-family: Proxima Nova;
        letter-spacing: 0.25px;

        @include xxs {
          font-size: 30px;
        }
      }

      .des {
        font-size: $fz-text;
        color: $white-cl;
        max-width: 500px;
        font-family: Proxima Nova;
        margin: 45px 0;
        letter-spacing: 0.25px;
        line-height: 22px;

        @include xxs {
          margin: 25px 0;
        }
      }

      .btndesign {
        font-size: 12px;
        font-family: Proxima Nova;
        width: max-content;
        border: 2px solid $white-cl;
        padding: 10px 35px;
        text-decoration: none;
        color: $white-cl;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 20px;
          height: 20px;
          margin-right: 20px;
          @include transition($t);
          @include transform(translateX(0px));
        }

        &:hover {
          img {
            @include transition($t);
            @include transform(translateX(2px));
          }
        }
      }
    }
  }
}

//About
.about {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .text-box {
      padding-left: 0;

      .text {
        .des {
          max-width: 349px;
          font-size: $fz-text;
          line-height: normal;
          color: #464646;
          margin: 30px 0;
          font-family: Proxima Nova;
        }
      }
    }

    @include sm {
      .text-box {
        margin-left: 30px;
      }
    }

    @include xs {
      flex-direction: column-reverse;

      .text-box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;

        .text {
          .des {
            max-width: 510px;
          }
        }
      }
    }
  }
}

/* Gallery */
.gallery {
  background-color: black;

  .text-box {
    .text {
      .des {
        margin-top: 30px;
        margin-bottom: 50px;
        max-width: 437px;
        font-size: $fz-text;
        font-family: Proxima Nova;
        font-weight: normal;
        color: white;
      }
    }
  }

  .carousel-img {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @include xxs {
      grid-auto-columns: auto (1fr);
    }

    .image {
      width: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include transform(translate(-50%, -50%) scale(1));
        @include transition($t);
      }

      &.--full {
        grid-area: 1/2/3/3;
      }

      &:hover {
        img {
          @include transform(translate(-50%, -50%) scale(1.1));
          @include transition($t);
        }
      }
    }

    @include xs {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* News */
.news {
  --heightImgThum: 200px;

  .container {
    .text-box {
      .text {
        .des {
          max-width: 437px;
          font-size: $fz-text;
          font-family: Proxima Nova;
          font-weight: normal;
          color: black;
          padding: 30px 0;
        }
      }
    }

    .button__news {
      margin-bottom: 20px;

      .tab {
        border: solid 2px;
        font-size: 20px;
        padding: 5px 20px;
        color: $text-black-cl;
        cursor: pointer;
        font-weight: normal;
        @include transition($t);

        &:hover {
          background-color: $yellow-cl;
          transition: 0.5s;
        }

        &.active {
          background-color: $black-cl;
          border: none;
          color: $white-cl;
        }
      }
    }

    .news-infor {
      display: none;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;

      .news__item {
        &-img {
          height: var(--heightImgThum);
          position: relative;
          cursor: pointer;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transform(translate(-50%, -50%) scale(1));
            @include transition($t);
          }

          &:hover {
            img {
              @include transform(translate(-50%, -50%) scale(1.1));
              @include transition($t);
            }
          }
        }

        &-text {
          .title {
            a {
              text-decoration: none;
              height: 80px;
              font-size: 18px;
              font-weight: bold;
              font-family: Proxima Nova;
              text-transform: uppercase;
              display: -webkit-inline-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              color: $black-cl;
              overflow: hidden;

              &::before {
                content: "";
                width: 80px;
                height: 3px;
                background: $yellow-cl;
                display: block;
                margin: 20px 0;
              }
            }
          }

          .des {
            font-size: 15px;
            font-family: Proxima Nova;
            font-weight: normal;
            max-width: 308px;
            display: -webkit-inline-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      @include xxs {
        grid-template-columns: repeat(1, 2fr);
        --heightImgThum: 300px;
        gap: 10px;
      }

      @include xs {
        grid-template-columns: repeat(1, 2fr);
        --heightImgThum: 300px;
        gap: 10px;
      }

      &.active {
        display: grid;
      }
    }
  }

  @include sm {
    ---heightImgThum: 100px;
  }
}

.faqs {
  padding-bottom: 90px;

  .accordion {
    background-color: $black-cl;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    color: $white-cl;
    padding: 10px 0;
    padding-left: 10px;
    letter-spacing: 0.5px;
    position: relative;
    border: 1px solid $black-cl;
    margin-bottom: -1;

    &:hover {
      color: $black-cl;
      background-color: $yellow-cl;
    }

    &::after {
      content: "";
      height: 2px;
      width: 10px;
      background-color: $white-cl;
      position: absolute;
      right: 0;
      bottom: 50%;
      margin-right: 10px;
      transform: rotate(90deg);
      @include transition(0.2s);
    }

    &::before {
      content: "";
      height: 2px;
      width: 10px;
      background-color: $white-cl;
      position: absolute;
      right: 0;
      bottom: 50%;
      margin-right: 10px;
    }

    &.active {
      &::after {
        @include transition(0.2s);
        transform: rotate(0deg);
      }
    }
  }

  .panel {
    display: none;
    background-color: #fafafa;
    color: $black-cl;

    &.active {
      display: block;
    }
  }
}

//tag

// .tag {

//     display: table;
//     padding: 10px;
//     width: 100%;

//     .tags-item {
//         li .addedTag {
//             display: inline-flex;
//             float: left;
//             margin: 0 5px;
//             background: $yellow-cl;
//             border-radius: 2px;
//             color: $white-cl;
//             padding: 5px;

//             span .tagRemove {
//                 cursor: pointer;
//                 // display: inline-block;

//                 &:hover {
//                     color: #222222;

//                 }
//             }
//         }

//     }

// }

ol,
ul {
  list-style: outside none none;
}

.tags {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  display: table;
  padding: 5px;
  width: 100%;

  .tagAdd {
    float: left;
    margin: 0 5px;
  }

  .addedTag {
    float: left;
    margin: 0 5px;
    background: none repeat scroll 0 0 $yellow-cl;
    border-radius: 2px;
    color: #fff;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;

    // padding: 5px;
  }

  input {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 5px;

    &:hover {
      border: 1px solid #000;
    }
  }

  .tag-item {
    span {
      .tagRemove {
        cursor: pointer;
        display: inline-block;
        padding-left: 0.5rem;

        &:hover {
          color: #222222;
        }
      }
    }
  }
}

.photo {
  background: $white-cl;
  margin: 90px 0;

  .photo-image {
    display: block;
    margin: 0 15px;
    height: 300px;
    /* set min-width, allow images to set cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
  }
}

// .carousel.is-fullscreen .carousel-image {
//     height: auto;
//     max-height: 100%;
// }

// @media screen and (min-width: 768px) {
//     .carousel-cell img {
//         height: 400px;
//     }
// }

// .photo {
//     .photo-wrap {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-bottom: 90px;
//         // z-index: 100;

//         .photo__img {
//             margin: 0 15px;

//             img {
//                 display: block;
//                 max-width: 100%;
//                 max-height: 100%;
//             }
//         }
//     }
// }

// .photo {
//     .photo-wrap {

//         width: 100%;
//         height: 100%;

//         display: inline-flex;
//         align-items: center;
//         justify-content: center;
//         margin-bottom: 90px;
//         // padding: 90px 0;
//         // position: relative;

//         .photo__img {
//             margin: 0 15px;
//             width: 100%;
//             height: 100%;
//             // position: relative;
//             display: block;

//             img {
//                 min-width: 100%;
//                 min-height: 100%;
//                 object-fit: cover;
//                 // position: absolute;
//                 // top: 50%;
//                 // left: 50%;
//                 // transform: translate(-50%, -50%);
//             }
//         }
//     }
// }

.form {
  margin-top: 90px;

  .container {
    h2 {
      font-size: 30px;
      margin: 20px 0;
    }

    #form-contact {
      .form-group {
        input[type="text"],
        input[type="number"],
        textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
      }
    }
  }
}
